<settings>
  <!-- Streams -->
  <category label="30200">
    <setting id="video_stream" label="30210" type="enum" values="H.264 (512kb)|H.264 (796kb)|H.264 (1296kb)|H.264 (2096kb)|H.264 (3500kb)" default="0" />
	<setting id="stream_delay" label="30220" type="number" default="10" />
	<setting id="download_folder" type="folder" label="Default download folder" default="C:/"/>
  </category>
  <!-- Proxy -->
  <category label="30300">
    <setting id="proxy_use" label="30310" type="bool" default="false" />
    <setting id="proxy_type" label="30315" type="enum" values="HTTP|HTTP (Tunneled)|SOCKS4|SOCKS5" enable="eq(-1,true)" default="0" />
    <setting id="proxy_server" label="30320" type="text" default="" enable="eq(-2,true)" />
    <setting id="proxy_port" label="30330" type="number" default="" enable="eq(-3,true)" />
    <setting id="proxy_user" label="30340" type="text" enable="eq(-4,true)"  />
    <setting id="proxy_pass" label="30350" type="text" option="hidden" enable="!eq(-4,2) + eq(-5,true)" />
  </category>

</settings>
